[submodule "includes/libft"]
	path = includes/libft
	url = https://github.com/lilikts/42-Libft.git
[submodule "includes/MLX42"]
	path = includes/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
